<!-- <div class="swiper-slide p-6 hover:!opacity-100">
    <a href="#"> <div class="my-3 rounded-2xl relative shadow-transparent transition-all  hover-shadow overflow-hidden lg:px-8 lg:py-5 lg:min-h-[400px] 2xl:min-h-[540px] flex items-center">
        <div class="w-full ">
        <div class="lg:text-[30px] 2xl:text-[70px] font-medium underline py-2">{index}</div>
        <h3 class="lg:mb-5 2xl:mb-10  text-xl md:text-2xl  2xl:text-4xl   font-medium">
           {heading}
        </h3>
        <p class="text-lg 2xl:text-xl ">{description}</p>
    </div> </div> </a>
</div> -->
<div class="swiper-slide p-6 hover:!opacity-100">
    <a href="#"> <div class="my-3 rounded-2xl relative shadow-transparent transition-all  hover-shadow overflow-hidden lg:px-8 lg:py-5 lg:min-h-[300px] 2xl:min-h-[540px] flex items-center">
        <div class="w-full ">
        <div class="lg:text-[30px] 2xl:text-[70px] font-medium underline py-2">{index}</div>
        <h3 class="lg:mb-5 2xl:mb-10  text-xl md:text-2xl  2xl:text-4xl   font-medium">
            {heading}
        </h3>
        <p class=" text-xl md:text-2xl  2xl:text-4xl  font-medium">{description}</p>
    </div> </div> </a>
</div>