<div class="swiper-slide p-6 hover:!opacity-100">
    <a href="#"> <div class="my-3 rounded-2xl relative shadow-transparent transition-all  hover-shadow overflow-hidden lg:px-8 lg:py-10 lg:min-h-[540px] flex items-center">
        <div class="w-full ">
        <div class="lg:text-[40px] 2xl:text-[70px] font-medium underline py-2">{index}</div>
        <h3 class="mb-10  text-xl md:text-2xl lg:text-3xl 2xl:text-4xl   font-medium">
           {heading}
        </h3>
        <p class="text-xl ">{description}</p>
    </div> </div> </a>
</div>