<footer class="bg-[#f6f6f6] px-4 md:px-8">
    <div class="pt-10 lg:py-20 mx-auto xl:max-w-[1200px] 2xl:max-w-[1600px]">
        <div class="w-full flex-wrap md:flex p-4 lg:p-0">
            <div class="w-1/2 lg:w-5/12 mb-10 lg:mb-0">
                <div class="flex items-start ">
                    <img class="mr-5 block" src="./assets/images/footer-icon-1.png" alt="">
                    <img class="mr-5 block" src="./assets/images/footer-icon-2.png" alt="">
                    <img class="mr-5 block" src="./assets/images/footer-icon-3.png" alt="">
                </div>
                <img src="./assets/images/logoTechMor.png" width="250" class="mt-10 lg:mt-32" alt="">
            </div>
            <div class="w-1/2 lg:w-3/12 mb-10 lg:mb-0">
                <h4 class="mb-2 text-gray-600 text-xl font-semibold">Navigations</h4>
                <ul>
                    <li class="mb-2 text-gray-600 text-xl"><a href="./index.html">Home</a></li>
                    <li class="mb-2 text-gray-600 text-xl"><a href="./about.html">About</a></li>
                    <li class="mb-2 text-gray-600 text-xl">Our AL/ML Solutions</li>
                    <li class="mb-2 text-gray-600 text-xl">FAQ</li>
                    <li class="mb-2 text-gray-600 text-xl"><a href="./career.html">Careers</a></li>
                    <li class="mb-2 text-gray-600 text-xl"><a href="./contact.html">Contact Us</a></li>
                    <!-- <li class="mb-2 text-gray-600 text-xl">Client Login</li> -->
                </ul>
            </div>
            <div class="w-full lg:w-4/12 mb-10 lg:mb-0">
                <div class="text-gray-600 font-semibold text-xl">Address: 5008, Meadow Lane, Marietta, GA 30068
                    <br>
                    Phone: +1650 - 252 - 0184<br>
                    Email: prateek.datta@techmorml.com</div>
                    <div class="!hidden flex items-center mt-5">
<a href="#"><img class="mr-4 opacity-50" src="./assets/images/insta.png" alt=""></a>
<a href="#"><img class="mr-4 opacity-50" src="./assets/images/twitter.png" alt=""></a>
<a href="#"><img class="mr-4 opacity-50" src="./assets/images/facebook.png" alt=""></a>
<a href="#"><img class="mr-4 opacity-50" src="./assets/images/linkedin.png" alt=""></a>
                    </div>
            </div>
        </div>
    </div>
  </footer>
  <div id="scrollToTop" class="opacity-0 duration-150 cursor-pointer transition-all fixed z-50 right-5 bottom-5">
      <img class="w-10 h-10" src="./assets/images/up-arrow.png"/>
  </div>

  <div class="w-full text-center py-2 md:py-4 ">
    © 2022 Techmor - MarmaladeDigital Pvt Ltd - All Rights Reserved.
  </div>