<div class="sticky px-10 md:px-20 py-6 z-50 mx-auto px top-0 w-full  flex items-center justify-between">
    <div class="logo w-3/12">
      <a href="./index.html">  <img class="lg:w-[200px] 2xl:w-[280px]" src="./assets/images/logoTechMor.png" ></img></a>
    </div>
    <div class="w-[100px] lg:w-1/12 flex justify-end">
        <div id="menu" class=" shadow-xl cursor-pointer p-3 bg-white w-12 h-12">
            <img class="w-6 h-6 opacity-50 openIcon" src="./assets/images/menu.png" alt=""/>
            <img class="w-6 h-6 opacity-50 closeIcon" src="./assets/images/cancel.png" alt=""/>
        </div>
    </div>
  </div>
  <div id="main-navigation" class="transition-all z-40 md:px-10 xl:px-20  w-full fixed -mt-[2000px]">
     <div class="-mt-32 md:max-w-[700px] lg:max-w-full py-32 rounded-bl-[50px] rounded-br-[50px] shadow-2xl bg-white">
         <div class="md:max-w-[600px] xl:max-w-[1000px] lg:mx-auto md:flex ">
             <div class="md:w-1/2 border-r-2 lg:border-gray-300 px-6">
                 <div>
                     <!-- <a class="block uppercase md:text-[40px] text-gray-500 hover:text-black  font-medium py-1 hover:underline" href="#">Client Login</a> -->
                     <a class="block uppercase md:text-[40px] text-gray-500 hover:text-black font-medium py-1 hover:underline" href="./contact.html">Contact US</a>
                     <div class="xl:ml-10 mt-2">
                        <div class="text-gray-600 font-semibold md:text-xl">Address: 5008, Meadow Lane, Marietta, GA 30068<br>
                            Phone: +1650 - 252 - 0184<br>
                            Email: prateek.datta@techmorml.com</div>
                            <!-- <div class="flex items-center mt-5">
        <a href="#"><img class="mr-4 opacity-50" src="./assets/images/insta.png" alt=""></a>
        <a href="#"><img class="mr-4 opacity-50" src="./assets/images/twitter.png" alt=""></a>
        <a href="#"><img class="mr-4 opacity-50" src="./assets/images/facebook.png" alt=""></a>
        <a href="#"><img class="mr-4 opacity-50" src="./assets/images/linkedin.png" alt=""></a>
                            </div> -->
                    </div>
                    </div>
             </div>
             <div class="md:w-1/2 px-6">
                <ul class="mt-10 lg:mt-0 xl:ml-14">
                    <li class="mb-2 md:mb-7 text-gray-500 text-lg md:text-4xl hover:text-black uppercase font-semibold"><a href="./index.html">Home</a></li>
                    <li class="mb-2 md:mb-7 text-gray-500 text-lg md:text-4xl hover:text-black uppercase font-semibold"><a href="./about.html">About</a></li>
                    <li class="mb-2 md:mb-7 text-gray-500 text-lg md:text-4xl hover:text-black uppercase font-semibold"><a href="#">Our AL/ML Solutions</a></li>
                    <li class="mb-2 md:mb-7 text-gray-500 text-lg md:text-4xl hover:text-black uppercase font-semibold"><a href="./faq.html">FAQ</a></li>
                    <li class="mb-2 md:mb-7 text-gray-500 text-lg md:text-4xl hover:text-black uppercase font-semibold"><a href="./career.html">Careers</a></li>
               </ul>
             </div>

         </div>
</div>
</div>
 