<div class="swiper-slide">
    <div class="px-4 md:px-0 md:max-w-[300px] relative flex items-center justify-center flex-col">
<!-- Year -->
<div class="z-20 px-8 py-2 rounded-full bg-gray-400 text-white mb-16">{year}</div>
<!-- Content -->
<div class="z-20">
<div class="rounded-2xl min-h-[300px] transition-all  overflow-hidden border border-gray-200 hover:border-white hover-shadow-blue">
   <div class="py-6 px-4 bg-[{color}] text-xl text-center lg:text-[24px] xl:text-[30px] leading-tight 2xl:text-[35px] font-medium">
{title}
   </div>
   <div class="py-6 px-10">
      {content}
   </div>
</div>
</div>
<!--Connecting Strip -->
<div class="z-0 absolute top-0 left-1/2 w-[10px] h-[150px] bg-gray-200 transform -translate-x-1/2"></div>
</div>
</div>