@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Dosis', sans-serif;
}
details .open{
    display: none;
}
details[open] .closed{
    display: none;
}
details[open] .open{
    display: block;
}
html { 
    scroll-behavior: smooth; 
  }
  .main-navigation{
      top:-100%;
  }
  #menu .closeIcon{
      display: none;
  }
  #menu.opened .openIcon{
display: none;
  }
  #menu.opened .closeIcon{
    display: block;
      }

      .hover-shadow:hover{
        box-shadow: 1px 1px 25px 10px rgba(55,78,152,0.36);
-webkit-box-shadow: 1px 1px 25px 10px rgba(55,78,152,0.36);
-moz-box-shadow: 1px 1px 25px 10px rgba(55,78,152,0.36);
      }

.hover-shadow-blue:hover{
  box-shadow: 1px 1px 25px 10px #1480eb3f;
-webkit-box-shadow: 1px 1px 25px 10px #1480eb3f;
-moz-box-shadow: 1px 1px 25px 10px #1480eb3f;
}

.shadow-blue{
  box-shadow: 1px 1px 25px 10px #1480eb3f;
-webkit-box-shadow: 1px 1px 25px 10px #1480eb3f;
-moz-box-shadow: 1px 1px 25px 10px #1480eb3f;
}

.shadow-career{
  box-shadow: 1px 1px 25px 10px #66a5df34;
-webkit-box-shadow: 1px 1px 25px 10px #66a5df34;
-moz-box-shadow: 1px 1px 25px 10px #66a5df34;
}
.shadow-graph{
  box-shadow: 1px 1px 25px 10px #1bb2ad2d;
-webkit-box-shadow: 1px 1px 25px 10px #1bb2ad2d;
-moz-box-shadow: 1px 1px 25px 10px #1bb2ad2d;
}

.shadow-faq{
  box-shadow: 1px 1px 25px 10px #a7acac34;
-webkit-box-shadow: 1px 1px 25px 10px #a7acac34;
-moz-box-shadow: 1px 1px 25px 10px #a7acac34;
}

.hero-btn-active{
  @apply !bg-white !text-black;
}

details[open] .opened{
  display: block;
}
details[open] .closed{
  display: hidden;
}
details[open] summary{
  color:black !important;
} 

/* .list-green-dot li { list-style-image: url(./assets/images/dot-green.png); }  */

.list-green-dot li,.list-yellow-dot li,.list-blue-dot li{
  @apply w-full flex items-center ;
}
.list-green-dot li:before,.list-blue-dot li:before,
.list-yellow-dot li:before{
  display: inline-block;
  content: " ";
  width:20px;
  margin-top:20px;
  height:20px;
  margin-right:10px;
  background-repeat: no-repeat;
  background-position: center center;
}
.list-green-dot li:before{
  background-image:url('./assets/images/dot-green.png');
}
.list-yellow-dot li:before{
  background-image:url('./assets/images/dot-yellow.png');
}
.list-blue-dot li:before{
  background-image:url('./assets/images/dot-purple.png');
}
